<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hello <%= user %></h1>
    <form class="" action="/logout?_method=DELETE" method="post">
      <button type="submit" name="button">logout</button>
    </form>
  </body>
</html>
