<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <form class="" action="/register" method="post">
      <div>
        <input required type="text" name="name" id="name" placeholder="name" value=""><br><br>
        <input required type="email" name="email" id="email" placeholder="email" value=""><br><br>
        <input required type="password" name="password" id="password" placeholder="password" value=""><br><br>
      </div>
      <button type="submit" name="button">Register</button>
    </form>
    <br><br>
    <a href="/login">Login</a>
  </body>
</html>
